body {
  font: 100%/1.5 system-ui;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: contents;
}

form button {
  grid-column: 1 / -1;
  font: inherit;
}

nav {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  align-items: stretch;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  display: block;
}

nav a.current {
  border-bottom: 0.4em solid #555;
}

nav a:hover {
  background-color: #dae7fa;
  border-bottom: 0.4em solid #3b82f6;  /* keep underline */
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}