body {
  font: 100%/1.5 system-ui;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

form {
  width: 100%;
}

form label {
  display: block;
  margin-block: 0.5rem;
}

form input,
form textarea,
form button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
}

form button {
  margin-top: 1rem;
}

nav {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  align-items: stretch;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  display: block;
}

nav a.current {
  border-bottom: 0.4em solid #555;
}

nav a:hover {
  background-color: #dae7fa;
  border-bottom: 0.4em solid #3b82f6;  /* keep underline */
}