body {
  font: 100%/1.5 system-ui;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  align-items: stretch;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  display: block;
}

nav a.current {
  border-bottom: 0.4em solid #555;
}

nav a:hover {
  background-color: #c7d9f6;  /* blue background */         /* text turns white */
  border-bottom: 0.4em solid #3b82f6;  /* keep underline */
}